<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Employee</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/admin/add-employee" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label>Username</label>
                <input type="text"
                  class="form-control <%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                  placeholder="Username" name="username" id="username" value="<%= oldInput.username%>">
              </div>
              <div class="form-group">
                <label>Email address</label>
                <input type="email"
                  class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                  name="email" placeholder="Enter email" id="email" value="<%= oldInput.email%>">
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="tel"
                  class="form-control <%= validationErrors.find(e => e.param === 'phone') ? 'invalid' : '' %>"
                  placeholder="Phone" name="phone" id="phone" value="<%= oldInput.phone%>">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password"
                  class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                  placeholder="Password" name="password" id="password" value="<%= oldInput.password%>">
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label>Department</label>
                <select class="form-control <%= validationErrors.find(e => e.param === 'department') ? 'invalid' : '' %>"
                  name="department">
                  <% for (let department of departments) { %>
                  <option value="<%= department._id %>"><%= department.title %></option>
                  <% } %>
                </select>
              </div>
              <div class="form-group">
                <% if (hasError) { %>
                  <div class="alert alert-danger" style="margin-top:10px">
                    <%= errorMessage %>
                  </div>
                <% } %>
                    
                    </div>

              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">Add Employee</button>
            </div>
          </form>
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</section>