    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Employees Details</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <% if (employees.length > 0)  { %>
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Department</th>
                        <th>Date Joined</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let [i,emp]of employees.entries()) { %>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><%= emp.username %></td>
                        <td><%= emp.email %></td>
                        <td><%= emp.phone %></td>
                        <td><%= emp.department.title %></td>
                        <td><%= emp.createdAt.toISOString().split('T')[0] %></td>
                        <td><a href="/hod/edit-employee/<%= emp._id %>" class="btn btn-success fas fa-edit"></a>
                          <form role="form" action="/hod/delete-employee" method="POST" style="display: inline-block !important;">
                            <input type="hidden" value="<%= emp._id %>" name="empId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true" ></i></button>
                          </form>
                          <a href="/hod/employee-attendance/<%= emp._id %>" class="btn btn-warning fa fa-calendar-check"></a>
                          </td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              <% } %>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
